<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Upload Image</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="gradient-bg">
      <div class="gradients-container">
        <div class="g1"></div>
        <div class="g2"></div>
        <div class="g3"></div>
        <div class="g4"></div>
        <div class="g5"></div>
      </div>
    </div>

    <div class="text-container">
      <h1>AI-Powered Image Captioning & Tagging</h1>
      <div class="card">
        <form onsubmit="handleForm(event)">
          <input type="file" name="file" required onchange="previewFile()" />
          <button type="submit" class="button">
            UPLOAD
            <div class="hoverEffect">
              <div></div>
            </div>
          </button>
        </form>
      </div>
      <div id="image-preview-container" class="card" style="display: none">
        <img id="image-preview" alt="Image preview..." />
      </div>
      <div id="tags" class="card" style="display: none"></div>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
